@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-roxo: #00032a;
  --color-fundo: #1f151d;

  --font-righteous: "Righteous", sans-serif; 

  --animate-pisca: pisca 1s ease-out infinite;
  --animate-abrir: abrir 0.2s ease-out;

  @keyframes pisca {
    0% {
      opacity: 0;
    },
    99% {
      opacity: 0;
    },
    100% {
      opacity: 1;
    }
  };
  @keyframes abrir {
    0% {
      transform: translateX(100%);
    },
    100% {
      transform: translateX(0%);
    }
  };
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@media (min-width: 768px) {
.embla {
  width: 100vw;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 2vw;
  --slide-size: 15%;
}
}

@media (max-width: 767px) {
.embla {
  width: 100vw;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 5vw;
  --slide-size: 35%;
}
}
.embla__viewport {
  overflow: hidden;
  width: 100vw;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

label {
  color: #ffffff;
}